@font-face {
  font-family: font-1;
  src: url(./assets/fonts/Sansation_Bold.ttf);
}
@font-face {
  font-family: font-2;
  src: url(./assets/fonts/HeadingNowTrial-65Medium.ttf);
}
@font-face {
  font-family: font-3;
  src: url(./assets/fonts/Quantify.ttf);
}
@font-face {
  font-family: font-4;
  src: url(./assets/fonts/good-times-rg.otf);
}
.text{
  font-family: font-1;
}
.bold{
  font-family: font-2;
}
.quantify{
  font-family: font-3;
}
.good-times{
  font-family: font-4;
}
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
.card:hover video{
  opacity: 1;
  transition:  all ease 0.5s;
}
.card video{
  transition:  all ease 0.5s;
}
span{
  color: rgb(255, 187, 0);
}
.stroke{
  -webkit-text-stroke: 2px white;
  color: transparent;
}
.right{
  animation: rightAnimation 30s linear infinite;
}
@keyframes rightAnimation {
  from{
    transform: translateX(0%);
    rotate: -5deg;
  }
  to{
    transform: translateX(100%);
    rotate: -5deg;
  }
}
.left{
  animation: leftAnimation 30s linear infinite;
}
@keyframes leftAnimation {
  from{
    transform: translateX(0%);
    rotate: -5deg;
  }
  to{
    transform: translateX(-100%);
    rotate: -5deg;
  }
}
.btn::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 196, 0);
  top:0;
  left:100%;
  transition: all ease 0.5s;
}
.btn:hover:after{
  left: 0
}
.btn a{
  position: relative;
  z-index: 10;
}
.bg-img{
  background: linear-gradient(to left,black,black,transparent), url(./assets/page4.jpg);
  background-size: cover;
}
.box{
  transition: all ease 0.3s;
}
.box:hover{
  opacity: .6;
}
.list img{
  transition: all ease 0.3s;
}
.list:hover img{
  opacity: 1;
  rotate: -10deg;
}
.up{
  animation: upAnimation 30s linear infinite;
}
@keyframes upAnimation {
  from{
    transform: translateY(0%);
  }
  to{
    transform: translateY(100%);
  }
}
.up-con::after{
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 80%;
  background: linear-gradient(white,transparent,white);
}